<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <title>HTML Preview</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat"
        rel="stylesheet">

  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
    }

    .text-align-center {
      text-align: center;
    }

  </style>
</head>

<body>
  <div>
    <p class="text-align-center">{page}/{total-pages}</p>
    <p>Stjepana Fabeka 12, 10290 Zaprešić </p>
    <p>MB: 3733106,OIB:16330300003, PDV ID: HR16330300003, IBAN: HR8424840081105637623</p>
    <p>tel.: 01/3311-331, fax: 01/3311-325, e-mail:info@tabacco.hr HR8723600001101280059</p>
  </div>
</body>

</html>